<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitMQHostName" value="localhost"/>
    <add key="RabbitMQQueueName" value="ColetorNavegacao"/>
  </appSettings>
  <connectionStrings>
    <add name="DbConnection"
         connectionString="Server=(localdb)\mssqllocaldb;Database=CollectNavigation;Trusted_Connection=True;"
         providerName="SqlClient"/>
  </connectionStrings>
</configuration>